<a href="https://colab.research.google.com/github/rnadesan1961/pydata-book/blob/1st-edition/Untitled21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import modules pandas and numpy
import pandas as pd
import numpy as np
# json file 
import json

In [2]:
# mount the drive for loading the data file 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [21]:
# import json
# from google.colab import files
# # loading to Panda dataframe 
# df2= pd.read_json('/content/drive/Shareddrives/YMCA/TravelersCodeChallenge/json_test.json')
# df2.head(10)

In [22]:
df1= pd.read_json('/content/drive/Shareddrives/YMCA/TravelersCodeChallenge/TravelersCodingChallenge.json',lines=True)
df1.to_json('/content/drive/Shareddrives/YMCA/TravelersCodeChallenge/Travelers.json')
df1.head(10)

                                   guid  ...                       FormCd
0  69012de7-10d4-4b13-940c-872e8cc4a0f0  ...  Companies_GUID_Company-tree
1  5ec089ca-beb6-42e4-9184-216a7fd95612  ...  Companies_GUID_Company-tree

[2 rows x 11 columns]

In [23]:
# load data using Python JSON module
with open('/content/drive/Shareddrives/YMCA/TravelersCodeChallenge/Travelers.json','r') as file:
    data = json.loads(file.read())

In [ ]:
# Normalizing data
multiple_level_data = pd.json_normalize(data, record_path =['children'], meta =['json_normalize','name','family_min_samples_percentage'], meta_prefix='config_params_', record_prefix='dbscan_')